<section class="activities">
  <div class="container">
    <h2 class="text-center my-5" style="color: crimson;">
      Our Activities
      <hr>
    </h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="../../assets/images/Activities/cricket1.jpeg" class="card-img-top rounded center" alt="Activity 1">

        </div>
      </div>
      <!-- <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Activity 1</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique elit elit, sit amet varius elit sagittis sed.</p>
        </div>
      </div> -->
      <!-- <div class="col-md-6">
        <div class="card mb-4">
          <img src="activity-2.jpg" class="card-img-top" alt="Activity 2">
          <div class="card-body">
            <h5 class="card-title">Activity 2</h5>
            <p class="card-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ac semper tellus.</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
