<footer class="text-center text-lg-start p-0">
  <div class="container-fluid p-4  "  style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="row">
      <div class="col-md-8">
        <h5 class="text-uppercase mb-2">Contact Us</h5>
        <ul class="list-unstyled d-flex justify-content-center mt-3">
          <li class="m-auto">
            <i class="fas fa-map-marker-alt"></i> At.Post.Wadali, Tal.Chandwad, Dist.Nashik, Maharashtra-423117
          </li>
          <li class="m-auto"><i class="fas fa-phone"></i> +91 9284251773</li>
          <li class="m-auto">
            <i class="fas fa-envelope"></i> info@yourcompany.com
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5 class="text-uppercase mb-0">Follow Us</h5>
        <ul class="list-unstyled d-flex justify-content-center mt-3">
          <li>
            <a href="#!"><i class="fab fa-facebook fa-2x mx-3"></i></a>
          </li>
          <li>
            <a href="#!"><i class="fab fa-twitter fa-2x mx-3"></i></a>
          </li>
          <li>
            <a href="#!"><i class="fab fa-instagram fa-2x mx-3"></i></a>
          </li>
          <li>
            <a href="#!"><i class="fab fa-linkedin fa-2x mx-3"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="text-center p-3 bg-light"> Copyright ©2023 All Right Reserved by rupesh pawar Foundation</div>
    </div>
    <div class="col-md-6">
      <div class="text-center p-3 bg-light">Website is Designed, Developed and Content Managed by
        <a href="https://www.spitertech.com/" target="_blank" >Spitertech Solution LLP.</a> </div>
    </div>
  </div>
</footer>
