<div class="container-fluid py-5 mx-4">
    <div class="row">
        <div class="col-md-12">
            <h3>Name : {{member.name}}</h3>
            <p> <span style="font-weight: bold; " >Mobile : </span> {{member.mobile}} </p>
            <p> <span  style="font-weight: bold; margin-right:0.5rem;" >Gender : </span> {{member.gender}} </p>
            <p> <span  style="font-weight: bold; margin-right:0.5rem;" >Address : </span> {{member.address}} </p>
            <p> <span  style="font-weight: bold; margin-right:0.5rem;" >Aadhar No : </span> {{member.aadhar}} </p>
            <p> <span  style="font-weight: bold; margin-right:0.5rem;" >Pan No : </span> {{member.pan}} </p>
            <p> <span  style="font-weight: bold; margin-right:0.5rem;" >Occupation : </span> {{member.occupation}} </p>
        </div>
    </div>
</div>
