<section class="main-content">
  <div id="content-wrapper">
    <section class="chairman-Message-outer mb-2">
      <div class="container">
        <h2 class="text-center mb-5 mt-3">About Rupesh Pawar Organization</h2>
        <div class="row flex-row-reverse">
          <div class="col-md-12 col-sm-12">
            <h3 class="heading3">Overview</h3>
            <p>
              Vasudhaiva Kutumbakam the most sublime Vedantic thought of Maha
              Upanishad 6.71, means, the world is one family .We all are
              children's of Mother Earth. Therefore, it is our responsibility as
              family members to cultivate unconditional generosity towards
              others and respect its natural resources to make it prosper
              .Vasundhara is Social engineering Institution which is a symbol of
              symbiotic relationship between environment and humanism for
              equitable social and economic development . The organization
              insists on environmentally friendly sustainable economic
              development and adoption of eco-friendly appropriate technology
              for caring natural resources and accordingly educate them.
            </p>
            <h3 class="heading3">Our Vision :</h3>
            <p>
              Vasundhara Vidyaprasarak Vaidik , Krushi Sanskruti Vistarak
              Sanstha’ is founded & promoted by like-minded catalytic, dedicated
              & enthusiastic group of experts & professionals with a
              multidisciplinary social development background with grass - root
              experiences & global appreciation. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Quas tempore minima ea obcaecati id
              ullam possimus reprehenderit consequuntur dolorem molestiae. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Atque veniam
              culpa ut est laboriosam quam, ducimus assumenda dignissimos
              quibusdam iure!
            </p>

            <h3 class="heading3">Our Mission :</h3>
            <p>
              Vasundhara Vidyaprasarak Vaidik , Krushi Sanskruti Vistarak
              Sanstha’ is founded & promoted by like-minded catalytic, dedicated
              & enthusiastic group of experts & professionals with a
              multidisciplinary social development background with grass - root
              experiences & global appreciation. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Quas tempore minima ea obcaecati id
              ullam possimus reprehenderit consequuntur dolorem molestiae. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Atque veniam
              culpa ut est laboriosam quam, ducimus assumenda dignissimos
              quibusdam iure!
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
