.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(123, 76, 76);
  color: white;
  text-align: center;
}
@media (max-width: 767px) {
  .footer {
    padding: 20px 0;
  }
  .footer h3 {
    margin-top: 20px;
  }
}
