<div class="container">
  <div class="row">
    <div class="col-md-12">
      <main class="container pt-4">
        <section class="mb-5">
          <h2 class="mb-4 text-center" style="color: crimson">
            Our Work
            <hr />
          </h2>
          <div class="row">
            <div class="col-md-8">
              <h3 style="color: brown">Financial Assistance :</h3>
              <p>
                At the Rupesh Pawar Foundation, we understand that access to
                capital is essential for farmers to maintain and grow their
                operations. We offer a range of financial assistance programs to
                help farmers access the funds they need to purchase new
                equipment, fertilizers, and seeds, and to make important
                investments in their businesses. Here's an overview of our
                financial assistance programs:
              </p>
              <p>
                <span style="font-weight: bold">
                  We offer low-interest loans to farmers
                </span>
                who need to make capital investments in their operations. Our
                loans can be used for a variety of purposes, including
                purchasing new equipment, expanding their operations, or making
                infrastructure improvements. We work closely with farmers to
                understand their financial needs and to ensure that our loans
                are tailored to meet their specific needs.
              </p>
            </div>
            <div class="col-md-4 mt-2">
              <img
                src="https://d3nn873nee648n.cloudfront.net/900x600/12745/17-EA427833.jpg"
                class="img-thumbnail"
                alt=""
              />
            </div>
          </div>

          <!--  -->
          <div class="row mt-2">
            <div class="col-md-4 mt-2">
              <img
                src="https://d3nn873nee648n.cloudfront.net/900x600/9075/20-SM234919.jpg"
                class="img-thumbnail"
                alt=""
              />
            </div>
            <div class="col-md-8">
              <h3 style="color: brown">Training and education :</h3>
              <p>
                At the Rupesh Pawar Foundation, we believe that providing
                farmers with access to training and education is essential for
                promoting sustainable agriculture practices and increasing
                productivity and profitability. We offer a range of training and
                education programs to help farmers improve their skills, learn
                about new technologies, and develop marketing strategies to
                increase their crop yields and incomes. Here's an overview of
                our training and education programs
              </p>
              <p>
                We offer training programs on new technologies, including
                precision agriculture, data analytics, and robotics. Our experts
                help farmers understand how to leverage these technologies to
                increase their productivity and profitability. We are committed
                to staying up-to-date on the latest advances in agriculture
                technology and helping farmers take advantage of these
                innovations.
              </p>
              <p>
                We offer training programs on marketing strategies, including
                branding, market research, and e-commerce. Our experts help
                farmers understand how to differentiate their products and reach
                new markets. We understand that marketing can be a challenge for
                many farmers, and our programs are designed to provide them with
                the skills they need to succeed in a competitive marketplace.
              </p>
              <p>
                We are committed to helping farmers access the training and
                education they need to succeed. Contact us today to learn more
                about our training and education programs and how we can help
                you achieve your goals.
              </p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-8">
              <h3 style="color:brown" >Market access :</h3>
              <p>At the Farmer Support Foundation, we understand that access to markets is essential for farmers to sell their products and increase their incomes. We offer a range of market access programs to help farmers connect with buyers, expand their customer base, and increase their sales. Here's an overview of our market access programs</p>
              <p>
                We work with farmers to help them connect with buyers who are interested in purchasing their products. Our team has established relationships with a range of buyers, including wholesalers, retailers, and restaurants. We work closely with farmers to understand their products and their needs, and to connect them with buyers who are a good fit for their business.
              </p>
            </div>
            <div class="col-md-4 mt-2">
              <img
                src="https://d3nn873nee648n.cloudfront.net/900x600/19811/220-SM965641.jpg"
                class="img-thumbnail"
                alt=""
              />
            </div>

          </div>
        </section>
      </main>
      <div class="col-md-12 my-3 text-center">
        <h6>
          We are committed to making a difference in the lives of farmers and
          creating a more sustainable future for all. <br />
          <span style="color: green"> Thank you for your support!</span>
        </h6>
      </div>
    </div>
  </div>
</div>
