<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <section class="mb-5">
        <h2 class="mb-4 text-center" style="color: crimson">
          Welcome to Shri Rupesh Pawar Foundation
        </h2>
        <hr />
        <div class="row">
          <!-- <div class="col-md-3">
            <section class="latest-events mb-4">
              <div class="container text-center">
                <h2 class="section-title mb-2">Activity</h2>
                <div class="row">
                  <div class="col-md-12">
                    <a routerLink="/activities" style="color:black; cursor:pointer">
                      <div class="card">
                        <img
                          src="../../assets/images/Activities/cricket1.jpeg"
                          class="card-img-top"
                          alt="Event 1"
                        />
                        <div class="card-body">
                          <h5 class="card-title">Cricket</h5>
                          <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Mauris tristique elit elit, sit amet varius
                            elit sagittis sed.
                          </p>
                          <div
                            class="btn btn-secondary"
                            routerLink="/activities"
                            style="background-color: crimson; cursor: pointer"
                          >
                            Read More...
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </section>
            <hr />
          </div> -->
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-8">
                <p>
                  Our mission is to help farmers overcome the challenges they
                  face in their daily lives and promote sustainable agriculture
                  practices.
                </p>
                <p>
                  The Farmer Support Foundation is a non-profit Foundation
                  dedicated to providing assistance and support to farmers in
                  need. We believe that by empowering farmers, we can help to
                  create more resilient communities and a more sustainable
                  future for all.
                </p>
                <p>
                  The main aim of an foundation is to provide support and
                  resources to farmers to help them overcome the challenges they
                  face. This support can take many forms, such as financial
                  assistance, training and education, market access, advocacy,
                  and disaster relief. By providing these resources,
                  agricultural foundations help to ensure that farmers have the
                  tools and knowledge they need to thrive in today's rapidly
                  changing agricultural landscape.
                </p>
              </div>
              <div class="col-md-4 mt-2">
                <img
                  src="https://d3nn873nee648n.cloudfront.net/900x600/18799/220-SM863180.jpg"
                  class="img-thumbnail"
                  alt=""
                />
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-md-4 mt-2">
                <img
                  src="https://d3nn873nee648n.cloudfront.net/900x600/13794/220-SM496503.jpg"
                  class="img-thumbnail"
                  alt=""
                />
              </div>
              <div class="col-md-8">
                <p>
                  We offer a range of services to help farmers improve their
                  productivity and profitability, including financial
                  assistance, training and education programs, market access,
                  advocacy, and disaster relief.
                </p>
                <p>
                  We rely on the support of generous donors like you to continue
                  our important work. You can make a donation to the Farmer
                  Support Foundation today and help us make a difference in the
                  lives of farmers across the country.
                </p>
                <p>
                  If you're passionate about supporting farmers and promoting
                  sustainable agriculture practices, we invite you to join us in
                  our mission. Learn more about our programs and services and
                  become a part of our community today. Together, we can make a
                  difference in the lives of farmers and create a more
                  sustainable future for all.
                </p>
                <div
                  class="btn btn-secondary"
                  routerLink="/about"
                  style="background-color: crimson; cursor: pointer"
                >
                  Know More..
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="col-md-12 my-3 text-center">
        <h6>
          We are committed to making a difference in the lives of farmers and
          creating a more sustainable future for all. <br />
          <span style="color: green"> Thank you for your support!</span>
        </h6>
      </div>
    </div>
  </div>
</div>
