/* Logo */
.logo {
  width: 4rem;
  height: auto;
  margin-right: 0.938rem;
}


.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: black;
  background-color: antiquewhite;
  font-weight: bold;
}

.social-icon {
  color: white;
  list-style: none;
}

.social-icon:hover{
  color: black;
  background-color: aliceblue;
}



.navbar-custom{
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
